# JetBrains related
.idea/
test

# VS Code related
.vscode/
.vs/

# Obsidian related
.obsidian

# Vivado related
vivado-project.cache
vivado-project.hw
vivado-project.ip_user_files
vivado-project.sim
vivado-project.xpr
vivado-project.runs
